@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home {
  padding: 0 6rem;
  min-height: 90vh;
  padding-bottom: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.home h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .home {
    padding: 0 2rem;
  }
}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.backgroundImagePresentation {
  font-size: 1.2rem;
  background-image: url("https://media.istockphoto.com/id/1147985301/es/vector/tecnolog%C3%ADa-de-fondo.jpg?s=2048x2048&w=is&k=20&c=A48fqRCB0SGtV384hDBPej7wGvVhELlY-IAocdCicAg=");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.backgroundImage {
  font-size: 7rem;
  background-image: url("https://media.istockphoto.com/id/1147985301/es/vector/tecnolog%C3%ADa-de-fondo.jpg?s=2048x2048&w=is&k=20&c=A48fqRCB0SGtV384hDBPej7wGvVhELlY-IAocdCicAg=");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
